body {
  background-color: #F2F2F2;
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 960px;
  margin: 0 auto;
}

.main {
  max-width: 960px;
  margin: 0 auto;
}
img{
	max-width: 100%;//ÈÃÍ¼Æ¬¿í¶È²»³¬¹ýÈÝÆ÷¿í¶È
}
@import "_partial/header";
@import "_partial/post";