<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header') %>
    <main class="main">
      <%- body %>
    </main>
	<!--¸ßËÙ°æ-->
<div id="SOHUCS" ></div>
<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cytj08ckR',
conf: 'prod_0b02950ac8e30d0232e49532efdd9930'
});
</script>
  </body>
</html>